@charset "UTF-8";

.tag {
    position: absolute;
    color: white;
    border: 0;
    top: 20px;
}

#mainmenu>div {
    position: relative;
    width: 20px;
    height: 3px;
    background-color: white;
    transition-duration: 0.2s;
}

#mainmenu {
    position: fixed;
    width: 35px;
    height: 50px;
    border-width: 0;
    top: 10px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.0);
}

#Search::placeholder {
    color: dimgrey;
    font-size: x-large;
}

#Search {
    font-size: x-large;
    color: white;
    border: 3px dimgrey solid;
    border-radius: 10px;
    position: fixed;
    top: 35px;
    left: 750px;
    height: 30px;
    width: 400px;
}

#allprddiv {
    background-color: rgb(37, 37, 37);
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 100px;
    border-width: 0;
    visibility: hidden;
}

#techchattag {
    left: 20px;
    position: relative;
    height: 0;
    color: rgba(0, 0, 0, 0.0);
    transition: 0.2s;
    visibility: hidden;
}

#gtracingtag,
#videoclipapp,
#Antivirussoftware,
#aibot,
#laptop,
#Desktop,
#Screen,
#inputdevice {
    position: absolute;
    left: 20px;
    color: rgba(0, 0, 0, 0.0);
    transition-duration: 0.2s;
    visibility: hidden;
}

#Antivirussoftware,
#aibot {
    left: 300px;
}

#aibot {
    top: 0;
}

#videoclipapp {
    top: 80px;
}

#TCIco {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    visibility: hidden;
    top: 15px;
    border-radius: 5px;
    opacity: 0.0;
    transition-duration: 0.2s;
}

#bigTCIco {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 120px;
    opacity: 0.0;
}

#bigTCIco,
#techchattg {
    transition-duration: 0.3s;
}

#laptop {
    position: relative;
    top: -20px;
}

#Desktop {
    top: 50px;
}

#Screen {
    top: 100px;
}

#inputdevice {
    top: 150px;
}

#allprddiv>h2 {
    background-color: rgba(0, 0, 0, 0.0);
}

.tagdiv {
    height: 110px;
}

#navbar {
    height: 50px;
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}

#cellphoneNavBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    visibility: hidden;
    transition-duration: 0.2s;
}

.cellphonetag {
    position: relative;
    left: 0;
    color: rgba(0, 0, 0, 0.0);
    background-color: rgba(0, 0, 0, 0.0);
    border: 0;
    transition-duration: 0.2s;
    visibility: hidden;
}

.cone {
    top: 8%;
}

.ctwo {
    top: 16%;
}

.cthree {
    top: 24%;
}

.cfour {
    top: 32%;
}

@media screen and (max-width: 818px) {

    .tag,
    .tagdiv,
    #Search {
        visibility: hidden;
    }
}

@media screen and (min-width:819px) {

    #mainmenu,
    #cellphoneNavBar {
        visibility: hidden;
    }
}